Source: gdm-themes-sidux
Section: unknown
Priority: extra
Maintainer: Horst Tritremmel <hjt@sidux.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: gdm-themes-sidux
Architecture: any
Depends: gdm (>> 2.4), desktop-base (>= 0.3.15)
Description: sidux theme for the GNOME Display Manager
 This package provides a additional sidux theme for the GNOME Display
 Manager's greeter, giving different looks to your graphical login
 screen.
 .
 To select them, use the gdmsetup software.
